node_modules
# Keep environment variables out of version control
.env
**/.env

# macOS Specific
.DS_Store
**/.DS_Store
algorithm/patterns_output
algorithm/.venv
algorithm/sorted_output
algorithm/spell_patterns.json
algorithm/rejected
